@{
    ViewBag.Title = "Lỗi thanh toán";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<div class="alert alert-danger">
    <center>
        Có lỗi trong quá trình thanh toán. Vui lòng
        <a style="color: #006400 " href="/gio-hang">  THỬ LẠI! </a>
       
    </center>
  
</div>