@{
    ViewBag.Title = "Success Email";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}

<div class="alert alert-success">
    <center> Email đã được xác nhận. Vui Lòng kiểm tra Email của bạn để có thể thay đổi mật khẩu mới.</center>
</div>