<!DOCTYPE html>
<html>
<head>
    <title> Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
    <meta charset="utf-8" />
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}
    Sản phẩm: {{Products}}<br />
    Kích cỡ: {{Size}}<br />
    Số lượng : {{Quanlity}}<br />
    Thành tiền: {{Total}}<br />

    Số lượng: {{Quality}}<br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />

    Mô tả: {{Content}}<br />
</body>
</html>